@tailwind base;
@tailwind components;
@tailwind utilities;

/**
  Satoshi
**/
@font-face {
  font-family: "Satoshi";
  src: url(/assets/fonts/Satoshi-Regular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url(/assets/fonts/Satoshi-Medium.otf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url(/assets/fonts/Satoshi-Bold.otf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url(/assets/fonts/Satoshi-Black.otf) format("opentype");
  font-weight: 800;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30rem white inset !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30rem white inset !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  background: #f5f7ff;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
